﻿@using Hayate.Web.Controllers
@model PersonalAccessTokenSettings

@{
    ViewBag.Title = "Personal Settings / Personal Access Token";
    Layout = "_Layout";
}

<h2>Personal Settings</h2>

@Html.Partial("_PersonalSettingsNav", nameof(SettingsController.PersonalAccessToken))

<p>
    Private/Internal のリポジトリを利用するためには、GitLab の Personal Access Token が必要です。<a href="@Model.GitLabSettingsUri" target="_blank">Access Token</a> にアクセスして、<em>read_registry</em> を有効にした Personal Access Token を生成し、ここに設定してください。
</p>

<form method="post" asp-action="PersonalAccessToken" asp-controller="Settings">
    <div class="input-group">
        <div class="input-group-append">
            <span class="btn @(Model.Verified ? "text-success" : "text-danger")">
                @if (Model.Verified)
                {
                    <i class="fas fa-check-circle"></i>
                }
                else
                {
                    <i class="fas fa-times-circle"></i>
                }
            </span>
        </div>
        <input type="text" class="form-control" placeholder="GitLab Personal Access Token" aria-label="Personal Access Token" asp-for="PersonalAccessToken">
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>
