@using Hayate.Proxy.Applications
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IApplicationStatus

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="2">
    <title>アプリケーションに接続中</title>

    <link rel="stylesheet" href="/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
<section class="container">
    @Model.Message
</section>

<footer class="navbar navbar-dark bg-dark fixed-bottom">
    <section class="container">
        <span class="text-muted">Copyright &copy; 2018 Hayate Team. All Rights Reserved.</span>
    </section>
</footer>

<script src="/lib/jquery-3.2.1.slim.min.js"></script>
<script src="/lib/popper.min.js"></script>
<script src="/lib/bootstrap.min.js"></script>
</body>
</html>