﻿@model Hayate.Core.Applications.ApplicationCollection

@{
    ViewBag.Title = "title";
}

<div class="row">
    <h2 class="col-sm-8">Applications</h2>
    <div class="col-sm-4 text-right">
        <a asp-controller="Registrations" asp-action="Index" class="btn btn-success">New Application</a>
    </div>
</div>

@if (!Model.IsEmpty)
{
    <table class="table">
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                ID
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var application in Model)
        {
            <tr>
                <td>
                    <a asp-action="Index" asp-route-id="@application.Id">@application.Name</a>
                </td>
                <td>
                    @application.Id
                </td>
            </tr>
        }
        </tbody>
    </table>
}