﻿@model Hayate.Core.Applications.Application

@{
    ViewBag.Title = @Model.Name;
}

<section class="container">
    <div class="row">
        <div class="col-sm-8">
            <h3>@Model.Name</h3>
        </div>
        <div class="col-sm-4">
            <a href="@Model.SiteUrl" target="gitlab">
                <i class="fa fa-external-link-alt"></i>
                Project Site
            </a>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Environment</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var instance in Model.Environments)
        {
            <tr>
                <td>
                    <a asp-action="Preview" asp-route-id="@Model.Id" asp-route-environmentName="@instance.Name">
                        <span class="font-weight-bold">@instance.Name</span>
                        <i class="fa fa-external-link-alt"></i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</section>
