﻿@using Hayate.Core.Instances
@model Hayate.Core.Applications.Environment

@{
    ViewBag.Title = Model.Name;
}

<h2>
    <a asp-action="Index" asp-route-id="@Model.Application.Id">
        @Model.Application.Name
    </a>
    /
    @Model.Name
</h2>

<section class="text-center" style="margin-bottom: 2rem; margin-top: 2rem;">
    <form method="post" asp-route-id="@Model.Application.Id" target="_blank">
        <div class="btn-group">
            <button type="submit" class="btn btn-success btn-lg" asp-route-environmentName="@Model.Name" asp-route-transition="@InstanceTransition.Running.ToString()">
                <i class="fas fa-eye"></i>
                Preview
            </button>
            <button type="button" class="btn btn-success btn-lg dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <button type="submit" class="dropdown-item" asp-route-environmentName="@Model.Name" asp-route-transition="@InstanceTransition.Restarted.ToString()" disabled="@(!Model.CanTransit(InstanceTransition.Restarted))">
                    <i class="fas fa-sync"></i>
                    Restart
                </button>
                <button type="submit" class="dropdown-item" asp-route-environmentName="@Model.Name" asp-route-transition="@InstanceTransition.TryUpgrade.ToString()" disabled="@(!Model.CanTransit(InstanceTransition.TryUpgrade))">
                    <i class="fas fa-arrow-alt-circle-up"></i>
                    Upgrade
                </button>
            </div>
        </div>
    </form>
</section>

<section id="terminal-list">
    <environment include="Development">
        <script src="~/lib/xtermjs/xterm.js"></script>
        <script src="~/lib/xtermjs/attach.js"></script>
        <script src="~/lib/xtermjs/fit.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/xtermjs/xterm.min.js"></script>
        <script src="~/lib/xtermjs/attach.min.js"></script>
        <script src="~/lib/xtermjs/fit.min.js"></script>
    </environment>

    <input type="hidden" id="instance-id" value="@Model.Id.ToString()">

    <ul id="terminal-tab-items" class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#logs" role="tab">Logs</a>
        </li>
        <li class="nav-item plus">
            <a id="new-tty" class="nav-link">
                <i class="fas fa-plus"></i>
            </a>
        </li>
    </ul>

    <div id="terminal-tab-pages" class="tab-content" style="width: 100%;">
        <div id="logs" role="tabpanel" class="tab-pane show active" style="position: relative;">
            <div style="padding-right: 2rem; position: absolute; width: 100%; z-index: 10;" class="text-right">
                <a id="start-instance-logs" style="color: white;" href="#">
                    <i class="fas fa-play"></i>
                    Show logs
                </a>
            </div>
            <div class="terminal" data-type="logs" style="width: 100%; position: absolute; z-index: 5;"></div>
        </div>
    </div>

    <template id="tab-item-template">
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tty0" role="tab">
                Terminal#0
            </a>
        </li>
    </template>

    <template id="tab-page-template">
        <div id="tty0" role="tabpanel" class="tab-pane">
            <div class="terminal" data-type="shell"></div>
        </div>
    </template>
    <script src="~/scripts/terminal-window.js" type="module"></script>
</section>
