﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - はやて</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap.css">
        <link rel="stylesheet" href="~/lib/xtermjs/xterm.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap.min.css">
        <link rel="stylesheet" href="~/lib/xtermjs/xterm.min.css">
    </environment>

    <link rel="stylesheet" href="~/css/layout.css">
    <link rel="stylesheet" href="~/lib/fontawesome/css/fontawesome-all.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" asp-controller="Home" asp-action="Index">はやて</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Applications" asp-action="Index" asp-route-id="@null">Applications</a>
            </li>
        </ul>
    </div>

    <ul class="nav">
        @{
            if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbar-user-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="@User.FindFirst("urn:hayate:avatar")?.Value" class="rounded-circle" style="height: 1.5rem; width: 1.5rem;">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-user-dropdown" style="position: absolute; right: 0; top: 0; transform: translate3d(-5rem, 38px, 0);">
                        <span class="dropdown-header">@User.Identity.Name</span>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-controller="Settings" asp-action="Index">Settings</a>
                        <div class="dropdown-divider"></div>
                        <form asp-controller="Account" asp-action="Logout">
                            <button class="dropdown-item">Sign Out</button>
                        </form>
                    </div>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Account" asp-action="Login">Sign In</a>
                </li>
            }
        }
    </ul>
</nav>

<section class="container">
    @RenderBody()
</section>

<footer class="navbar navbar-dark bg-dark fixed-bottom">
    <section class="container">
        <span class="text-muted">Copyright &copy; 2018 Hayate Team. All Rights Reserved.</span>
    </section>
</footer>

<environment include="Development">
    <script src="~/lib/jquery-3.2.1.slim.js"></script>
    <script src="~/lib/popper.js"></script>
    <script src="~/lib/bootstrap.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/lib/jquery-3.2.1.slim.min.js"></script>
    <script src="~/lib/popper.min.js"></script>
    <script src="~/lib/bootstrap.min.js"></script>
</environment>
</body>
</html>
