﻿@using Hayate.Web.Controllers
<nav>
    <div class="nav nav-tabs" role="tablist">
        <a class="nav-item nav-link@(Model == nameof(SettingsController.Index) ? " active" : "")" asp-action="Index" asp-controller="Settings">Global</a>
        <a class="nav-item nav-link@(Model == nameof(SettingsController.PersonalAccessToken) ? " active" : "")" asp-action="PersonalAccessToken" asp-controller="Settings">Personal Access Token</a>
    </div>
</nav>
