﻿@{
    ViewBag.Title = "Require GitLab PAT";
}

<p>
    アプリにアクセスできませんでした。
</p>

<ol>
    <li>アプリがありません。新しくアプリを作成<a asp-controller="Registrations" asp-action="Index">新しくアプリを作成</a>してください。</li>
    <li>アプリにアクセスする権限がありません。GitLab のプロジェクトのメンバーに追加するよう、GitLab プロジェクトの管理者に依頼してください。</li>
    <li>GitLab Personal Access Token が設定されていない、もしくは期限切れです。<a asp-controller="Settings" asp-action="PersonalAccessToken">GitLab Personal Access Token を設定</a>してください。</li>
</ol>
