﻿@model Hayate.Core.Projects.ProjectCollection
@{
    ViewBag.Title = "アプリケーション登録";
}

<h2>New Application</h2>

<table class="table">
    <tbody>
    @foreach (var project in Model)
    {
        <tr class="@(project.IsNotRegistered ? "not-registered" : "registered")">
            <td>
                <form method="post" asp-controller="Registrations" asp-action="Project" asp-route-id="@project.TargetId">
                    @if (project.IsNotRegistered)
                    {
                        <button class="btn btn-primary">Activate</button>
                    }
                    else
                    {
                        <button class="btn">Activated</button>
                    }
                </form>
            </td>
            <td>@project.Name</td>
        </tr>
    }
    </tbody>

</table>