﻿@model object

@{
    ViewBag.Title = "Sing in";
    Layout = "_Layout";
}

<section class="container" style="margin-top: 4rem; margin-bottom: 4rem;">
    <div class="card border-primary text-center" style="margin-left: auto; margin-right: auto">
        <form asp-action="LoginGitLab" asp-route-returnUrl="@ViewData["ReturnUrl"]">
            <div class="card-body" style="max-height: 30rem;">
                <button class="btn btn-success" style="margin-top: auto; margin-bottom: auto;">Sign In by GitLab</button>
            </div>
        </form>
    </div>
</section>
